p.model {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0;
    text-align: center;
  }
  .p{
    font: Montserrat;
  }
  .order {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 2px;
    text-align: center;
    display: block;
  }
  .delivery {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
